body {
  font-family: 'Oswald', sans-serif;
  padding: 10px;
}

h1 {
  color: #d2143a;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .2em;
  font-size: 3em;
  text-align: left;
}

h2 {
  color: #bb1133;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: #4314d2;
  font-size: 18px;
}

a:hover {
  color: #D46300;
}

.portfolio-contact {
  background-color: #D3D3D3;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
